<div class="container-fluid vh-100 bg-primary">
    <h3 class="text-center mb-5 pt-5">Posts</h3>
    <div class="table-responsive">
        <table class="table border mb-5 pb-5">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>
                @for(p of showpost;track p.title){
                <tr class="">
                    <td>{{p.blog_id}}</td>
                    <td>{{p.title}}</td>
                    <td>{{p.author}}</td>
                    <td>{{p.date}}</td>

                    <td>

                        <button type="button" class="btn btn-success m-1" (click)="blogid(p.blog_id)"
                            [routerLink]="['/update-post']"><i class="bi bi-pencil-fill"></i></button>
                        <button type="button" class="btn btn-danger m-1" (click)="blogDelete(p.blog_id)"><i
                                class="bi bi-trash3-fill"></i></button>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>